@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif, BMEuljiro10yearslaterOTF;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
